<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div { margin: 8px 0; }
        hr { margin: 16px 0; }
        table, th, td { border: 1px solid; }
        td { width: 160px;}
    </style>
</head>
<body hidden>
    <div id="root">
        <h1>Staking</h1>
        <input v-model="amount" type="number" min="0">
        <button @click="() => deposit()">Deposit</button>
        <div>account: {{ account }}</div>
        <div>balanceOf: {{ balanceOf }}</div>
        <div>isStakeholder: {{ isStakeholder }}</div>
        <table>
            <tr>
                <td>#</td>
                <td>Amount</td>
                <td>APR</td>
                <td>Duration (days)</td>
                <td>Created At</td>
                <td>Estimated Reward</td>
                <td>Estimated Total Reward</td>
                <td>&nbsp;</td>
            </tr>
            <tr v-for="(stake, i) in stakes" :key="stake.index">
                <td>{{ i+1 }}</td>
                <td>{{ formatNumber(stake.amount) }}</td>
                <td>{{ `${stake.rewardRate}%` }}</td>
                <td>7</td>
                <td>{{ stake.createdAt }}</td>
                <td>{{ formatNumber(estimatedReward(stake)) }}</td>
                <td>{{ formatNumber(estimatedTotalReward(stake)) }}</td>
                <td><button @click="() => withdraw(stake.index)">Withdraw</button></td>
            </tr>
        </table>
    </div>
    <script src="vendor/vue/dist/vue.js"></script>
    <script src="vendor/@metamask/detect-provider/dist/detect-provider.min.js"></script>
    <script src="vendor/@truffle/contract/dist/truffle-contract.js"></script>
    <script src="app.js"></script>
</body>
</html>
