<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div { margin: 12px 0; }
        hr { margin: 12px 0; }
        table, th, td { border: 1px solid; }
        td { min-width: 60px;}
    </style>
</head>
<body hidden>
    <div id="root">
        <h1>Staking</h1>
        <div>
            <input v-model="amount" type="number" min="0" placeholder="amount">
            <select v-model="rewardPlanIndex">
                <option v-for="(rewardPlan, i) in rewardPlans" :value="rewardPlan.index" v-show="Number(rewardPlan.deletedAt) === 0">
                    {{ `${rewardPlan.duration} seconds (APR ${rewardPlan.rewardRate}%)` }}
                </option>
            </select>
            <button @click="() => deposit()">Deposit</button>
        </div>
        <div>account: {{ account }}</div>
        <div>balanceOf: {{ balanceOf }}</div>
        <div>isStakeholder: {{ isStakeholder }}</div>
        <table>
            <tr>
                <td>#</td>
                <td>Locked</td>
                <td>Unlocked</td>
                <td>Duration (seconds)</td>
                <td>Reward Rate (APR)</td>
                <td>Claimed Reward</td>
                <td>Created At</td>
                <td>Estimated Reward</td>
                <td>Estimated Total Reward</td>
                <td>&nbsp;</td>
            </tr>
            <tr v-for="(stake, i) in stakes" :key="stake.index">
                <td>{{ i+1 }}</td>
                <td>{{ formatNumber(stake.locked) }}</td>
                <td>{{ formatNumber(stake.unlocked) }}</td>
                <td>{{ stake.duration }}</td>
                <td>{{ `${stake.rewardRate}%` }}</td>
                <td>{{ formatNumber(stake.rewardClaimed) }}</td>
                <td>{{ stake.createdAt }}</td>
                <td>{{ formatNumber(estimatedReward(stake)) }}</td>
                <td>{{ formatNumber(estimatedTotalReward(stake)) }}</td>
                <td><button :disabled="Number(stake.locked) < 1" @click="() => withdraw(stake.index)">Withdraw</button></td>
            </tr>
        </table>
        <hr>
        <div>
            <input v-model="rewardPlanDuration" type="number" min="0" placeholder="Duration (seconds)">
            <input v-model="rewardPlanRewardRage" type="number" min="0" placeholder="Reward Rage">
            <button @click="() => createRewardPlan()">Create</button>
        </div>
        <table>
            <tr>
                <td>#</td>
                <td>Duration (seconds)</td>
                <td>Reward Rate (APR)</td>
                <td>&nbsp;</td>
            </tr>
            <tr v-for="(rewardPlan, i) in rewardPlans" :key="rewardPlan.index">
                <td>{{ i+1 }}</td>
                <td>{{ rewardPlan.duration }}</td>
                <td>{{ `${rewardPlan.rewardRate}%` }}</td>
                <td><button :disabled="Number(rewardPlan.deletedAt) !== 0" @click="() => removeRewardPlan(rewardPlan.index)">Remove</button></td>
            </tr>
        </table>
    </div>
    <script src="vendor/vue/dist/vue.js"></script>
    <script src="vendor/@metamask/detect-provider/dist/detect-provider.min.js"></script>
    <script src="vendor/@truffle/contract/dist/truffle-contract.js"></script>
    <script src="app.js"></script>
</body>
</html>
